---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>
	<p>
    Hello! We are Team Techie Bulldogs. We are a team of 5:
	</p>
	<ul>
		<li>Jomari Ramos</li>
		<li>Lynus Kho</li>
		<li>Christopher Maranan</li>
		<li>John Paul Juan</li>
		<li>Nathan Escano</li>
		<li>Sean Carreon</li>
	</ul>
  

</Layout>
