---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>✨ Hello, Everyone!</h1>
			<p>
        We are Team Techie Bulldogs, a group of Computer Engineering students studying in National University Manila.
        Learn more about the team in our <a href="/about/">About Us</a> section.
			</p>
			<p>
        Thanks for visiting our website. We hope you get to learn something about NU and its students.
			</p>
		</main>
		<Footer />
	</body>
</html>
